apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-echo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: echo
  template:
    metadata:
      labels:
        app: echo
    spec:
      containers:
      - name: echo-container
        image: hashicorp/http-echo # Ein fertiges Go-Tool, das Text ausgibt
        args:
          - "-text=Hallo aus Kubernetes und Go!"
        ports:
        - containerPort: 5678
